
/* Conhecendo o @extend */
%btn{  // placeholder - eles são omitidos no css
    min-width: 150px;
    padding: 10px 20px;
}

.btn-confirm{
    background-color: green;
    color: white;
    @extend %btn;
}

.btn-cancel{
    background-color: red;
    color: white;
    @extend %btn;
}

/*

// se for um mixin ele injetaria o código de btn dentro de btn-confirm
// porém ele agrupou btn-confirm com btn, evitando repetição

.btn-confirm, btn-cancel{
    min-width: 150px;
    padding: 10px 20px;
}

.btn-confirm{
    background-color: green;
    color: white;
}

*/

/*
Quando usar mixin e placeholder ?

placeholder ele vai fazer com que todo os seletores onde a gente está usando fiquem
juntos em um lugar só evitando a repetição.

mixins aceitam argumentos e blocos de códigos então podemos alterar os valores e condições,
os mixins podem ser sempre variáveis.


*/
