/*
Mixins são considerados um dos elementos mais poderosos do Sass.
Eles ajudam a definir regras que podem ser reutilizadas onde quisermos.

São como funções, onde podemos passar ou não parâmetros, e eles nos retornam uma ou mais propriedades.
Os Mixins podem ser usados de várias formas para muitas coisas. E é sobre eles que falaremos nesta seção.


 Colocar em arquivos separados e usar o @import para deixar mais organizado
*/

@mixin error-box($border-width: 10px, $color: red){ // valor padrão, caso o usuário não passe argumento
    border: $border-width solid $color;
    color: $color;
    background-color: white;
}


@mixin padding-mixin($values...){  // com os três pontos a variável vai aceitar qualquer valor que for passado
    padding: $values;
}

@mixin links{
    text-decoration: none;
    color: black;
    @content;  // aqui está indicando que todo o bloco de código links ele vai entrar em content;
}

.my-box{

    font-size: 18px;

    @include error-box(50px);
    @include padding-mixin(50px, 10px, 20px, 40px);
    //@include padding-mixin(50px 10px 20px 40px);
    //@include padding-mixin(50px 10px);
    a{
        @include links{
            cursor: pointer;
            &:hover{
                color: red;
            }
        };
    }

}

/*
.my-box{
    font-size: 18px;

    border: 50px solid red;
    color: red;
    background-color: white;

    padding: 50px, 10px, 20px, 40px;
    //padding: 50px 10px 20px 40px;
    //padding: 50px 10px;
}

.my-box a{
    text-decoration: none;
    color: black;
    cursor: pointer;
}

.my-class a:hover{
    color: red;
}

*/


/* desafio */

// criar dois mixin, o primeiro indicando um @media (min-width e max-width) e outro para indicar as
//dimensões com uma linha apenas

@mixin screen-size($min: 100px, $max: 300px){
    @media (min-width: $min) and (max-width: $max){
        @content;
    }
}

@mixin size($size){
    width: $size;
    height: $size;
}

@include screen-size(320px, 790px){
    .my-class{
        color: red;
        font-size: 20px;
        @include size(100px);
    }
}


/*
@media (min-width: 320px) and (max-width: 790px){
    .my-class{
        color: red;
        font-size: 20px;
        width: 100px;
        height: 100px;
    }
}
*/
