
/* interpolação */

//interpolação é que basicamente significa encaixar valores dentro de outros valores.
$my-class: color;

.class-#{$my-class}{ //.class-color
    margin: auto;
    #{$my-class}: red; // color: red;
}

/* Controle de Fluxo - @if e @else */
$my-number: 5px;

@if $my-number > 3{

    .class{
        color: red;

        @if true{
            background: black;
        }
    }
} @else {
    .class{
        color: blue;
    }
}


/* Laços de repetições - @for, @each e @while */


@for $count from 1 through 3{
    .class-#{$count}{
        color: red;
    }
}

/*
.class-1{
    color: red
}
.class-2{
    color: red
}
.class-3{
    color: red
}
*/

$my-colors: "red", "green", "blue";

@each $color in $my-colors{
    .btn-#{$color}{
        background-color: $color;
    }
}

/*
.btn-red{
    background-color: red;
}

.btn-green{
    background-color: green;
}

.btn-blue{
    background-color: blue;
}
*/

$controller: 0;

@while $controller < 5{
    .my-class-#{$controller}{
        padding: 50px;
    }

    $controller: $controller + 1;
}

/*
.my-class-0{
    padding: 50px
}

.my-class-1{
    padding: 50px
}

.my-class-2{
    padding: 50px
}

.my-class-3{
    padding: 50px
}

.my-class-4{
    padding: 50px
}
*/


/* Criando Funções */

@function double($value){
    @return $value * 2;
}

.my-class{
    width: double(20px);
}
/*
.my-class{
    width: 40px
}
*/

.my-class{
    width: double(50%);
}
/*
.my-class{
    width: 100%
}
*/
