@import "style2";

/*
Se o arquivo não tive o simbolo _ antes do nome será criado um novo arquivo css
com o contúdo dentro.

Quando se coloca o _ no começo do nome é um indicativo de uma partial, ou seja,
só um arquivo parcial com um pedaço de código que não é para ser compilado porque
ele vai ser utilizado por outro arquivo

No momento da importação não precisa colocar o _ somente o nome do arquivo
*/


.container{
    width: 100%;
    .title{
        color: red;
        margin: {  /* evitar repetição de palavras */
            top: 5px;
            bottom: 10px;
            right: 20px;
        }
    }

    .text{
        color: green;
    }

    &:hover{ /* alinhando o seletor */
        width: 150px;
    }
}

/* diferença entre os tipos de comentários */
    /* este comentário irá aparecer no código css */
    // este comentário não irá aparecer no código css
