
/*
    Aqui finalmente começamos aplicar códigos CSS. Essa é a primeira camada, nessa
    camada informamos regras genéricas e com a menor especifidade possível.
    Em geral, é onde vamos aplicar os nossos reset’s.
*/

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
