
/*
    Aqui já começamos a criar nossos componentes (como o próprio nome já diz) de
    maneira mais específica. Aqui ainda é restrito para apenas o uso de classes.
*/

.btn-success{
    backgroud: #00cc99;
    border-radius: 4px;
    color: #fdfdfd;
}

.text{
    color: black;
    font-size: 18px;
}
