
/*
    Seguindo os princípios de OOCSS(CSS Orientado a Objetos), aqui é onde vamos
    começar a criar nossos pequenos objetos.

    Um detalhe importante é que nessa
    camada só é permitido a utilização de seletores por classes.
*/

.container{
    margin: 0 auto;
    max-width: 480px;
}

.button{
    width: 100%;
    height: 40px;
}
